{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<br><br><br><br><br><br><br><br><br>
<div class="container">
  <a style="font-size: 22px;" href="{% url 'income_list' %}"><i class="fa fa-arrow-left"></i>Назад </a>
</div>
<center>
    <h3>Доход</h3>
  <br>
<style>
  table, th, td {
    border: 1px solid black;
  }
</style>
<table class="table table-bordered">
  <tbody>
    <tr>
      <th style="text-align: center; margin: 0 10px;" >Студент</th>
      <th style="text-align: center; margin: 0 10px;" >Курс</th>
      <th style="text-align: center; margin: 0 10px;" >Цена</th>
        <th style="text-align: center; margin: 0 10px;" >Валюта</th>
      <th style="text-align: center; margin: 0 10px;" >Способ оплаты</th>
      <th style="text-align: center; margin: 0 10px;" >Дата оплаты</th>
      <th style="text-align: center; margin: 0 10px;" >Дата создания</th>
    </tr>
    <tr>
      <td style="text-align: center; margin: 0 10px;"><a href="#" >{{ income.student }}</a></td>
      <td style="text-align: center; margin: 0 10px;" >{{ income.student.course }}</td>
      <td style="text-align: center; margin: 0 10px;" >{{ income.value }}</td>
        <td style="text-align: center; margin: 0 10px;" >{{ income.currency }}</td>
      {% if income.payment_method %}
        <td style="text-align: center; margin: 0 10px;" >{{ income.payment_method }}</td>
      {% else %}
        <td style="text-align: center; margin: 0 10px;" ></td>
      {% endif %}
        <td style="text-align: center; margin: 0 10px;" >{{ income.date_of_payment }}</td>
      <td style="text-align: center; margin: 0 10px;" >{{ income.created_date }}</td>
      <td><a href="{% url 'income_delete' income.id %}">Удалить</a></td>
    </tr>
  </tbody>
</table>
  <br>
  <br>
  <br>
  <h4>Изменить объект</h4><br>
  <div class="container mt-3" style="width: 55%; fon-size: 10px;">
    <form method="POST" action=".">
  {% csrf_token %}
<!-- {{ form|crispy }}-->
        <div class="row" >
            <div class="col-6" >
                {{ form.student|as_crispy_field }}
            </div>
            <div class="col-6" >
                {{ form.value|as_crispy_field }}
            </div>
        </div>
        <div class="col-6" >
                {{ form.payment_method|as_crispy_field }}
            </div>
        <div class="col-6" >
            {{ form.currency|as_crispy_field }}
        </div>
        <div class="col-6" >
            {{ form.date_of_payment|as_crispy_field }}
        </div>

<button type="submit">Сохранить</button>
  </form>
      </div>

</center>
{% endblock %}

