{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block nav %}
  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="{% url 'index' %}" class="logo">
                <h4 style="color: black;"><br><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lightbulb-fill" viewBox="0 0 16 16">
  <path d="M2 6a6 6 0 1 1 10.174 4.31c-.203.196-.359.4-.453.619l-.762 1.769A.5.5 0 0 1 10.5 13h-5a.5.5 0 0 1-.46-.302l-.761-1.77a1.964 1.964 0 0 0-.453-.618A5.984 5.984 0 0 1 2 6zm3 8.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1l-.224.447a1 1 0 0 1-.894.553H6.618a1 1 0 0 1-.894-.553L5.5 15a.5.5 0 0 1-.5-.5z"/>
</svg> LightCode</h4>
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <a class='menu-trigger'>
                <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->
{% endblock nav %}
{% block content %}
<br><br><br><br><br><br>
<div class="container">
  <a style="font-size: 22px;" href="{% url 'admin_choice' %}"><i class="fa fa-arrow-left"></i>Назад </a>
</div>
<center>
  {{ filterset.form.media.css }}
  <div class="container mt-3" style="width: 55%; fon-size: 10px;">
    <h3 align="center">Фильтрация для Доходов</h3><br>
  <form method="get" id="incomes">
<!--    {{ filter.form.as_p }}-->
    <div class="row" >
      <div class="col-6" >
        {{ filterset.form.student|as_crispy_field }}
      </div>
      <div class="col-6" >
        {{ filterset.form.student__course|as_crispy_field }}
      </div>
      <div class="col-6" >
        {{ filterset.form.payment_method|as_crispy_field }}
      </div>
      <div class="col-6" >
        {{ filterset.form.currency|as_crispy_field }}
      </div>
        <div class="col-6" >
        {{ filterset.form.student__format|as_crispy_field }}
      </div>
        <div class="col-6" >
        {{ filterset.form.student__studying_time|as_crispy_field }}
      </div>
           <div class="col-6" >
        {{ filterset.form.student__teacher|as_crispy_field }}
      </div>
        <div class="col-6" >
        {{ filterset.form.created_date|as_crispy_field }}
      </div>
    </div>
    <button type="submit">Применить фильтр</button>
  </form>
    <style>
  table, th, td {
    border: 1px solid black;
  }
</style>
    <h2>Общая сумма дохода</h2>
    <h4>{{total_incomes}}</h4>
    <br><br><br>
    <h3>Доходы</h3>
    <br>
    <a style="font-size: 22px;" href="{% url 'income_add' %}">Добавить Доход <i class="fa fa-arrow-right"></i></a>
<br><br><br><br><br>
<table class="table table-bordered">
  <tbody>
    <tr>
      <th style="text-align: center; margin: 0 10px;" >Студент</th>
      <th style="text-align: center; margin: 0 10px;" >Курс</th>
      <th style="text-align: center; margin: 0 10px;" >Цена</th>
      <th style="text-align: center; margin: 0 10px;" >Валюта</th>
      <th style="text-align: center; margin: 0 10px;" >Способ оплаты</th>
      <th style="text-align: center; margin: 0 10px;" >Дата оплаты</th>
      <th style="text-align: center; margin: 0 10px;" >Дата создания</th>
    </tr>
    {% for income in object_list %}
    <tr>
      <td style="text-align: center; margin: 0 10px;"><a href="{% url 'income_detail' income.id %}" >{{ income.student }}</a></td>
      <td style="text-align: center; margin: 0 10px;" >{{ income.student.course }}</td>
      <td style="text-align: center; margin: 0 10px;" >{{ income.value }}</td>
      <td style="text-align: center; margin: 0 10px;" >{{ income.currency }}</td>
        {% if income.payment_method %}
          <td style="text-align: center; margin: 0 10px;" >{{ income.payment_method }}</td>
        {% else %}
          <td style="text-align: center; margin: 0 10px;" ></td>
      {% endif %}
        <td style="text-align: center; margin: 0 10px;" >{{ income.date_of_payment }}</td>
      <td style="text-align: center; margin: 0 10px;" >{{ income.created_date }}</td>
      <td><a href="{% url 'income_delete' income.id %}">Удалить</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
  </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {{ filterset.form.media.js }}
</center>
{% endblock %}
