{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<br><br><br><br><br><br>
<div class="container">
  <a style="font-size: 22px;" href="{% url 'admin_choice' %}"><i class="fa fa-arrow-left"></i>Назад </a>
</div>
<center>
  {{ filterset.form.media.css }}
  <div class="container mt-3" style="width: 55%; fon-size: 10px;">
    <h3 align="center">Фильтрация для Доходов</h3><br>
  <form method="get" id="incomes">
<!--    {{ filter.form.as_p }}-->
    <div class="row" >
      <div class="col-6" >
        {{ filterset.form.student|as_crispy_field }}
      </div>
      <div class="col-6" >
        {{ filterset.form.student__course|as_crispy_field }}
      </div>
      <div class="col-6" >
        {{ filterset.form.payment_method|as_crispy_field }}
      </div>
      <div class="col-6" >
        {{ filterset.form.currency|as_crispy_field }}
      </div>
        <div class="col-6" >
        {{ filterset.form.student__format|as_crispy_field }}
      </div>
        <div class="col-6" >
        {{ filterset.form.student__studying_time|as_crispy_field }}
      </div>
           <div class="col-6" >
        {{ filterset.form.student__teacher|as_crispy_field }}
      </div>
        <div class="col-6" >
        {{ filterset.form.created_date|as_crispy_field }}
      </div>
    </div>
    <button type="submit">Применить фильтр</button>
  </form>
    <style>
  table, th, td {
    border: 1px solid black;
  }
</style>
    <h2>Общая сумма дохода</h2>
    <h4>{{total_incomes}}</h4>
    <br><br><br>
    <h3>Доходы</h3>
    <br>
    <a style="font-size: 22px;" href="{% url 'income_add' %}">Добавить Доход <i class="fa fa-arrow-right"></i></a>
<br><br><br><br><br>
<table class="table table-bordered">
  <tbody>
    <tr>
      <th style="text-align: center; margin: 0 10px;" >Студент</th>
      <th style="text-align: center; margin: 0 10px;" >Курс</th>
      <th style="text-align: center; margin: 0 10px;" >Цена</th>
      <th style="text-align: center; margin: 0 10px;" >Валюта</th>
      <th style="text-align: center; margin: 0 10px;" >Способ оплаты</th>
      <th style="text-align: center; margin: 0 10px;" >Дата оплаты</th>
      <th style="text-align: center; margin: 0 10px;" >Дата создания</th>
    </tr>
    {% for income in object_list %}
    <tr>
      <td style="text-align: center; margin: 0 10px;"><a href="{% url 'income_detail' income.id %}" >{{ income.student }}</a></td>
      <td style="text-align: center; margin: 0 10px;" >{{ income.student.course }}</td>
      <td style="text-align: center; margin: 0 10px;" >{{ income.value }}</td>
      <td style="text-align: center; margin: 0 10px;" >{{ income.currency }}</td>
        {% if income.payment_method %}
          <td style="text-align: center; margin: 0 10px;" >{{ income.payment_method }}</td>
        {% else %}
          <td style="text-align: center; margin: 0 10px;" ></td>
      {% endif %}
        <td style="text-align: center; margin: 0 10px;" >{{ income.date_of_payment }}</td>
      <td style="text-align: center; margin: 0 10px;" >{{ income.created_date }}</td>
      <td><a href="{% url 'income_delete' income.id %}">Удалить</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
  </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {{ filterset.form.media.js }}
</center>
{% endblock %}
