{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
  <br>
<br><br><br><br><br>
<div class="container">
  <a style="font-size: 22px;" href="{% url 'tutorials' %}"><i class="fa fa-arrow-left"></i>Назад </a>
</div>
<br><br><br><br><br>
<center>
        <h3>Раздел</h3>
  <br>
        {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
      <div class="container mt-3" style="width: 55%; fon-size: 10px;">
    <form method="POST" action=".">
  {% csrf_token %}
<!-- {{ form|crispy }}-->
        <div class="row" >
            <div class="col-6" >
                {{ form.title|as_crispy_field }}
            </div>
            <div class="col-6" >
                {{ form.slug|as_crispy_field }}
            </div>
        </div>
        <div class="col-6" >
                {{ form.id_section|as_crispy_field }}
            </div>
<button type="submit">Сохранить</button>
        <br><br>
        <h5>Хотите сохранить и добавить другой объект?</h5>
        <select name="is_next">
            <option value="no">Нет</option>
            <option value="on">Да</option>
        </select>
  </form>
      </div>
    <script>
$(document).ready(function(){
    $('#id_title').on('keyup', function(){
        var title = $(this).val();
        var slug = '';
        if (/^[a-zA-Z0-9]+$/.test(title)) {
            slug = title.toLowerCase().replace(/[^a-zA-Z0-9]+/g, '-').replace(/(^-|-$)+/g, '');
        } else if (/^[а-яА-Яa-zA-Z0-9\s]+$/.test(title)) {
            var rus_to_lat = {
                'а': 'a', 'б': 'b', 'в': 'v', 'г': 'g', 'д': 'd', 'е': 'e', 'ё': 'yo', 'ж': 'zh', 'з': 'z', 'и': 'i', 'й': 'y', 'к': 'k', 'л': 'l', 'м': 'm', 'н': 'n', 'о': 'o', 'п': 'p', 'р': 'r', 'с': 's', 'т': 't', 'у': 'u', 'ф': 'f', 'х': 'h', 'ц': 'c', 'ч': 'ch', 'ш': 'sh', 'щ': 'sch', 'ъ': '', 'ы': 'y', 'ь': '', 'э': 'e', 'ю': 'yu', 'я': 'ya', ' ': '-'
            };
            slug = title.toLowerCase().replace(/[^\u0000-\u007E]/g, function(c) {
                return (typeof rus_to_lat[c] != 'undefined') ? rus_to_lat[c] : '-';
            }).replace(/[^a-zA-Z0-9\-]+/g, '-').replace(/(^-|-$)+/g, '');
        }
        $('#id_slug').val(slug);
    });
});
</script>


</center>
{% endblock %}