{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<style>
  @media (max-width: 991px) {
    #right-images-for-hidden {
    display: none
    }
  }
</style>
<div id="about" class="about-us section">
    <div class="container" >
      <div class="row" >
        <div class="col-lg-6 align-self-center">
          <div class="section-heading">
            <h4>{% trans 'Курс по' %} <span style="color: blue;font-size: 29px;" >{{ course.title }}</span></h4>
            <img src="https://templatemo.com/templates/templatemo_570_chain_app_dev/assets/images/heading-line-dec.png" alt="">
            <p style="color: black;font-size: 17px;" >{{ course.additional_info }}</p>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="box-item">
                <h4 style="color: blue;" >{% trans 'Время обучения' %}</h4>
                {% for formats in course.studying_time.all %}
                  <p style="font-size: 17px;color: black;" >{{ formats.title }}</p>
                {% endfor %}              </div>
            </div>
            <div class="col-lg-6">
              <div class="box-item">
                <h4 style="color: blue;" ><a href="#">{% trans 'Формат обучения' %}</a></h4>
                {% for format in course.format.all %}
                <p style="font-size: 17px;color: black;" >{{ format.title }}</p>
                {% endfor %}
              </div>
            </div>
            <div class="col-lg-6">
              <div class="box-item">
                <h4 style="color: blue;" ><a href="#">{% trans 'Ментор' %}</a></h4>
                <p style="font-size: 17px;color: black;"> {{ course.teacher }} </p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="box-item">
                <h4 style="color:blue;">{% trans 'Начало курса' %}</h4>
                  <p style="font-size: 17px;color: black;" >{% trans 'Идёт набор на данный курс успей записаться' %}</p>
              </div>
            </div>
            <div class="col-lg-12">
              <p style="font-size: 17px;color: black;" >{% trans 'Готовим востребованных разработчиков с личным ментором с любого этапа.' %}<br> {% trans 'Наши менторы будут с тобой от заявки и до твоего выпускного.' %}</p>
              <div class="gradient-button">
                <a href="#newsletter">{% trans 'Записаться на курс' %}</a>
              </div>
            </div>
          </div>
        </div>
        <div id="right-images-for-hidden" class="col-lg-6">
          <div class="right-image">
            <img src="https://templatemo.com/templates/templatemo_570_chain_app_dev/assets/images/about-right-dec.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>


{% endblock %}

