{% extends 'base.html' %}
{% load static %}
{% now "TIME_FORMAT" %}
{% load tz %}
{% load i18n %}

<html lang="en">
{% block content %}
<style>
    @media ( max-width: 400px ) {
       .swiper-slide p {
            font-size: 10px;
       }
    }
</style>
<link rel="stylesheet" href="{% static 'css/sudo.css' %}">
<!-- Swiper CSS -->
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

<!-- Swiper JS -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
<div style="background-image: url(https://oir.mobi/uploads/posts/2021-03/1616435811_9-p-belii-fon-gradient-11.png);">

<body>

  <div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6 align-self-center">
              <div class="left-content show-up header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                <div class="row">
                  <div class="col-lg-12">
                    <h2>{% trans "Курсы програмирования Бишкек" %} <span style="color: blue;" >Light Code</span>
                    <p style="font-size: 20px;" >{% trans 'Научись программировать за 3 месяца, обучаясь 5 дней в неделю по 3 часа в день только практика только хардкор' %}</p>
                        {% if stream %}
                        <div class="gradient-button">
                            <a href="{{ stream.url }}"><h5>{% trans 'Не пропустите уникальную возможность услышать экспертов по программированию в прямом эфире прямо сейчас!' %}</h5></a>
                        </div>
                        <p>{% trans 'Прямой эфир начнётся' %}: {{ stream.start_time }}</p>
                        {% endif %}
                        <div class="gradient-button">
                            <a href="#newsletter">{% trans 'Записаться на курс' %}</a>
                        </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                <img src="{% static 'images/slider-dec.png' %}" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
<center>
      <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="section-heading  wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s">
            <h1 style="color: blue;" >LightCode</h1>
            <p style="font-size: 20px;color: black;" >{% trans 'Это программа обучения включающая в себя в основном лишь только практику совмещая интеракивы. Light Code готовит специалистов, способных работать в динамично развивающейся отрасли.' %}</p>
          </div>
        </div>
      </div>
    </div>
</center>
<br>
<br>
<br>
<br>
<br>
  <div id="services" class="services section">
    <div class="">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="section-heading  wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s">
            <h1>{% trans 'Чему мы обучаем?' %}</h1>
            <img src="{% static 'images/heading-line-dec.png' %}" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="container" style="display: flex; justify-content: center; position: relative;">

        <div class="swiper-container">
  <div class="swiper-wrapper">

        {% for course in courses %}
       <div class="swiper-slide" style="background: transparent; box-shadow: none;">
          <div>
          <div class="service-item first-service" >
<!--            <div class="icon" style="background-image: url({{ course.cover.url }}); width: 50px; height: 50px;" ></div>-->
              <img style="max-width: 45px; max-height: 45px; width: 100%; height: 100%; object-fit: contain;" src="{{course.cover.url}}">
            <h4>{{ course.title }}</h4>
            <p style="color: black;font-size: 17px;white-space: nowrap;
    overflow: hidden;
    padding: 5px;
    text-overflow: ellipsis;">{{ course.description }}</p>
              <div class="text-button">
                  {% if course.is_active %}
              <a style="font-size: 22px;" href="{% url 'course-detail' course.slug %}">{% trans 'Подробнее' %} <i class="fa fa-arrow-right"></i></a>
                  {% else %}
                  <p style="font-size: 22px;color: black;">{% trans 'На данный момент набора нету' %}</p>
                  {% endif %}
            </div>
          </div>
        </div>
       </div>
        {% endfor %}
  </div>

      </div>
         <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
    </div>
  </div>
  <div id="lol" style="position: relative; z-index: 10;">
<br>
<br>
<br>
<br>
<br>
  <center>
  <h1>{% trans 'О нас' %}</h1>
    <p style="font-size: 20px;color: black; z-index: 1;" >{% trans 'Важно не заучивание, а понимание сути' %}</p>
    </center>
      </div>
  <br>
<br>
<br>
<br>
<br>
  <center>
  <div  style="position: relative; z-index: 10; display: block!important;" class="section-heading">
    <h1>{% trans 'Наша Команда' %}</h1>
  </div>
  <br>
      <div style="display: flex; justify-content: center; position: relative;">
          <div class="swiper-container">
  <div class="swiper-wrapper">
      {% for employee in employees %}
      <div class="swiper-slide">
          <a href="{% url 'employee_detail' employee.id %}"><div class="col">
              <div class="card">
                  <div class="container mt-3" style="width: 98%; height: min-content; fon-size: 10px;">
                      <img src="{{ employee.image.url }}" style="max-width: 250px; width: 100%; max-height: 300px; height:100%; object-fit: cover;" class="card-img-top" alt="...">
                  </div>
                  <div class="card-body">
                      <h5 class="card-title" style="color: black;">{{ employee.full_name }}</h5>
                      <h6 style="color: blue;">{{ employee.role }} </h6><br>
                      <hr style="color: black;">
                      <p style="color: black; font-size: 17px;white-space: nowrap;
    overflow: hidden;
    padding: 5px;
    text-overflow: ellipsis;" class="card-text">{{ employee.description }} </p>
                  </div>
              </div>
          </div>
          </a>
      </div>
      {% endfor %}
  </div>
</div>

           <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
      </div>
</center>
<br>
<br>
<br>
  <div id="about" class="about-us section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center">
          <div class="section-heading">
              <h7 style="color: blue;" >LightCode</h7><br>&nbsp;
            <h4>{% trans 'Что мне нужно иметь для учебы?' %}</h4>
            <img src="{% static 'images/heading-line-dec.png' %}" alt="">
            <p style="color: black;" >{% trans 'Главное наличия ноутбука и желания учиться!' %}</p>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="right-image">
            <img src="{% static 'images/features-split-image-01.7521f1cd.png' %}" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
    <div id="about" class="about-us section">
    <div class="container">
      <div class="row" style="flex-direction: row-reverse;" >
        <div  class="col-lg-6 align-self-center">
          <div class="section-heading">
            <h7 style="color: blue;" >LightCode</h7><br>&nbsp;
            <h4>{% trans 'Почему я должен/должна учиться у вас?' %}</h4>
            <img style="float:right; margin: 0 0 5px 5px;" src="{% static 'images/heading-line-dec.png' %}" alt="">
            <p style="color: black;" ><span style="color: black;" >&#9675;</span> {% trans 'Обучение 15 часов неделю' %}<br>
              <span style="color: black;" >&#9675;</span> {% trans '3 месяца сплошной практики' %}<br>
              <span style="color: black;" >&#9675;</span> {% trans '180 часов за 3 месяца' %}<br>
              <span style="color: black;" >&#9675;</span> {% trans 'Обучение 20% теории 80% практики через' %}<br> &nbsp; &nbsp;{% trans 'интерактивы, разборы и реальные кейсы' %}
            </p>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="right-image">
            <img src="{% static 'images/client-bg.png' %}" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
    <br>
  <br>
  <br>
    <div id="about" class="about-us section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center">
          <div class="section-heading">
            <h7 style="color: blue;" >LightCode</h7><br>&nbsp;
            <h4>{% trans 'Нужен ли мне свой ноутбук?' %}</h4>
            <img src="{% static 'images/heading-line-dec.png' %}" alt="">
            <p style="color: black;" >{% trans 'Да. Необходимо иметь свой ноутбук. Характеристики: минимум 4 ГБ оперативной памяти, 2 ядровый процессор. В идеале: 8 ГБ оперативной памяти и процессор с 4 ядрами.' %}</p>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="right-image">
            <img src="{% static 'images/free-animated-macbook-mockup.gif' %}" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>

  <center>
      <br><br><br><br>&nbsp;
      <!-- TESTIMONIALS -->
      <div id="rewiews" class="section-heading">
            <h4>{% trans 'Отзывы наших учеников' %}</h4>
            <img src="{% static 'images/heading-line-dec.png' %}" alt="">
          </div>
<!--          <link rel="stylesheet" href="https://unpkg.com/flickity@2.0/dist/flickity.min.css">-->
<!--      <script src="https://unpkg.com/flickity@2.0/dist/flickity.pkgd.min.js"></script>-->
<!--      <div class="container">-->
<!--        <div class="carousel-wrapper" style="margin-top:400px;">-->
<!--          <div class="carousel" data-flickity>-->
<!--              {% for rewiew in reviews %}-->
<!--                  <div class="container mt-3" style="width: 90%;">-->
<!--                      <div class="carousel-cell" style="width: 65%; word-wrap: break-word;">-->
<!--                          <h4 style="color: black;" >{{ rewiew.name }}</h4>-->
<!--                          <p style="color: blue;">{{ rewiew.direction }}</p>-->
<!--                          <p style="color: black;">{{ rewiew.description }}</p>-->
<!--                      </div>-->
<!--                  </div>-->
<!--              {% endfor %}-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
      <br>
      <div style="display: flex; justify-content: center; position: relative;">

          <div class="swiper-container">
  <div class="swiper-wrapper">
      {% for rewiew in reviews %}
        <div class="swiper-slide">
            <div class="container mt-3" style="width: 90%; max-width: 500px; width: 65%; word-wrap: break-word;">
                <h4 style="color: black;" >{{ rewiew.name }}</h4>
                <p style="color: blue;">{{ rewiew.direction }}</p>
                <p style="color: black;">{{ rewiew.description }}</p>
            </div>
        </div>
      {% endfor %}
  </div>
</div>

           <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
      </div>
      <script src="{% static 'js/sudo.js' %}"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

</body>

    {% endblock %}





