{% extends 'base.html' %}
{% load static %}

{% block content %}
<br>
<br>
<br>
<br>
<center>
  <div style="background-image: url(https://oir.mobi/uploads/posts/2021-03/1616435811_9-p-belii-fon-gradient-11.png);">
<div id="about" class="about-us section">
        <div class="col-lg-6 align-self-center">
          <div class="section-heading">
            <div class="col-lg-6">
              <div class="box-item">
                <h4><em>Туториалы</em></h4>
              </div>
            </div>
            <br>
            <h5>Развивайтесь в IT совершенно бесплатно: список курсов для самообразования</h5>
            <div class="gradient-button">
                <a><h5>"Ваша жизнь не улучшится, <br>пока вы не начнёте делать что-то новое"<br><br><h5 align="right">- Жим Рон.</h5></h5></a>
              </div>
            <br><br>
          <div class="row" style="width: 80%">
            {% for section in sections %}
              <div class="col-lg-6" >
              <div class="box-item">

                <a href="{% url 'tutorial-detail' section.slug %}">
                  <h3 style="color: blue;">{{ section.title }}</h3>
                </a>
              </div>
            </div>
            {% endfor %}
            <div class="col-lg-12">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eismod tempor idunte ut labore et dolore adipiscing  magna.</p>
            </div>
          </div>
        </div>
  </div>
<div style="height: 100vh !important; overflow-y: auto; padding: none !important; margin:0% !important" >
                {% if mappings %}
                  <h4 class="hamburger_heading"><b>Все классы</b></h4>
                  <div class="Overlapped_white"></div>
                  <br><br><br>
                    {% for mapping in mappings %}
                        {% if classroom == mapping.classroom %}
                          <a href="{% url 'render_class' mapping.classroom.id %}"><li class="hamburger_current_class">{{mapping.classroom.classroom_name|truncatechars:30 }}</li></a>
                        {% else %}
                        <a href="{% url 'render_class' mapping.classroom.id %}"><li class="highlights">{{mapping.classroom.classroom_name|truncatechars:30 }}</li></a>
                        {% endif %}
                    {% endfor %}
                {% endif %}
              </div>
{% endblock %}

