{% extends 'classroom/parent_class.html' %}
{% load static %}
{% load i18n %}

{% block head %}
{% endblock %}

{% block hamburger %}
<style>
@media (max-width: 400px) {
    .classroom-card-title {
        font-weight: 700;
        font-size: 25px;
    }
}
</style>
    <div class="jumbotron jumbotron-fluid class_jumbotron">
        <div class="container">
        <h1 class="display-4 class_title classroom-card-title">{{ classroom.classroom_name }}</h1>
        <p class="lead class_code">{% trans 'Код класса' %}: {{ classroom.class_code }}</p>
        <h6 class="lead class_code" ><a style="color: white;" href="{% url 'group_list' classroom.id %}">{% trans 'Список учителей и студентов' %}</a></h6>
        </div>
    </div>
    <input type="hidden" id="assignment" name="assignment">
    <div class="contatiner_of_assignments">
        {% if assignments %}
            {% for assignment in assignments %}
                {% for teacher in teachers %}
                    {% if teacher.teacher.id == user.id or user.status == 4 %}
                        <a href="{% url 'assignment_summary' assignment.id %}">
                    {% else %}
                        <a href="{% url 'sending_a_task' assignment.id %}" data-value="{{ assignment.id }}">
                    {% endif %}
                {% endfor %}
                <div class="card assignment_card" style="width: 18rem;">
                <div class="card-body">
                <h5 class="card-title">{{assignment.assignment_name}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{% trans 'Задание опубликовано' %} {{ assignment.posted_date }}</h6>
                <h6 class="card-subtitle mb-2 text-muted">{% trans 'Срок выполнения задания в' %} {{ assignment.due_time }} / {{ assignment.due_date }}</h6>
                </div>
                </div>
                </a>
                </a>
          {% endfor %}
        {% endif %}
      </div>

    <div class="modal" tabindex="-1" id="group_list">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{% trans 'Оценка' %}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
         <table class="table table-bordered">
          <tbody>
            <tr>
              <th style="text-align: center; margin: 0 10px;" >{% trans 'Менторы' %}</th>
            </tr>
            {% for lead in leads %}
            <tr>
              <td style="text-align: center; margin: 0 10px;"><a href="{% url 'leads_detail' lead.id %}" >{{ lead.full_name }}</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
            <br><br><br>
        <table class="table table-bordered">
          <tbody>
            <tr>
              <th style="text-align: center; margin: 0 10px;" >{% trans 'Менторы' %}</th>
            </tr>
            {% for lead in leads %}
            <tr>
              <td style="text-align: center; margin: 0 10px;"><a href="{% url 'leads_detail' lead.id %}" >{{ lead.full_name }}</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </div>
      </div>
    </div>
<script>
     const menu = document.querySelector('.sideBarMenuIcon');
  const sideBar = document.querySelector('.sideBar');
  const sideBarMenu = document.querySelector('.sideBarMenu');
  // Проверяем, есть ли значение 'showMenu' в localStorage
  const showMenu = localStorage.getItem('showMenu');
  if (showMenu === 'true') {
    sideBarMenu.classList.add('show');
  }

  menu.onclick = () => {
    // Инвертируем состояние меню
    sideBarMenu.classList.toggle('show');
    // Сохраняем состояние меню в localStorage
    localStorage.setItem('showMenu', sideBarMenu.classList.contains('show'));
  }
</script>
{% endblock %}