{% extends 'classroom/parent_class.html' %}
{% load static %}
{% block head %}
{% endblock %}
{% load crispy_forms_tags %}
{% load i18n %}


{% block hamburger %}
<style>
@media (max-width: 400px) {
    .classroom-card-title {
        font-weight: 700;
        font-size: 25px;
    }
}
</style>
<div class="jumbotron jumbotron-fluid class_jumbotron">
    <div class="container">
        <div class="container" style="width: 25%;">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-danger">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        <form method="POST" action=".">
            {% csrf_token %}
            <input type="file" id="lol" name="lol"><br><br>
            <button type="submit" class="btn btn-primary">{% trans 'Отправить задание' %}</button>
        </form>
        <br>
        <h3>{{ submission.marks_alloted }}/{{ assignment.total_marks }}</h3><br>
        {% if submission.status == 1 %}
            <h3>{{ submission.get_status_display }}</h3>
        {% elif submission.status == 2 %}
            <h3 style="color: red;" >{{ submission.get_status_display }}</h3>
        {% elif submission.status == 3 %}
            <h3 style="color: green;" >{{ submission.get_status_display }}</h3>
        {% endif %}

    </div>
</div>
<script>
           const menu = document.querySelector('.sideBarMenuIcon');
  const sideBar = document.querySelector('.sideBar');
  const sideBarMenu = document.querySelector('.sideBarMenu');
  console.log(menu)
  // Проверяем, есть ли значение 'showMenu' в localStorage
  const showMenu = localStorage.getItem('showMenu');
  if (showMenu === 'true') {
    sideBarMenu.classList.add('show');
  }

  menu.onclick = () => {
      console.log('render')
    // Инвертируем состояние меню
    sideBarMenu.classList.toggle('show');
    // Сохраняем состояние меню в localStorage
    localStorage.setItem('showMenu', sideBarMenu.classList.contains('show'));
  }
</script>
{% endblock %}
