  .swiper-container {
      width: 100%;
      height: auto;
      max-width: 90vw;
      overflow: hidden;
    }
    .swiper-slide img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      width: 300px;
      height: auto;
      transition: all 0.3s ease-in-out; /* добавляем плавный переход */
    }

    .swiper-slide-active {
      opacity: 1; /* делаем активный слайд непрозрачным */
    }

    /* стили для боковых слайдов */




    /* стили для точек навигации */
    .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
      background: #000;
      opacity: 0.5;
      transition: all 0.3s ease-in-out;
    }

    .swiper-pagination-bullet-active {
      opacity: 1;
      transform: scale(1.5);
    }

    /* для мобильной версии */
@media (max-width: 668px) {

  .swiper-container {
    max-width: 70%; /* изменяем максимальную ширину контейнера на 100% */
  }

  .swiper-slide {
    width: auto; /* убираем фиксированную ширину слайдов */
  }

  .swiper-button-next,
  .swiper-button-prev {
    width: 30px;
    height: 30px;
    font-size: 24px; /* уменьшаем размер кнопок навигации */
  }

  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    margin: 0 5px; /* уменьшаем отступы между точками навигации */
  }

  .swiper-pagination {
    bottom: 10px; /* изменяем положение точек навигации */
  }
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  width: 30px;
  height: 30px;
  z-index: 100;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 20px;
  transition: opacity 0.2s ease-in-out;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  opacity: 0.8;
}

.swiper-button-prev {
  left: 0px;
}

.swiper-button-next {
  right: 0px;
}
